<h1>About page</h1>
<hr>
<p>Ik ben Thimo Luijsterburg (2184240). Dit is mijn angular webshop project voor periode 2.1 van Avans.</p>
<p>De casus voor dit project heb ik de keuze gemaakt om een webshop te maken met het angular framework. In de section
  hieronder is de ERD van dit project te zien. Hierin is te zien dat er producten op de webshop komen die reviews kunnen
  hebben en besteld kunnen worden door een gebruiker. Dit houd in dat er ook authenticatie in de applicatie zal komen.
  Daarnaast krijgt een gebruiker op basis van goed gereviewde producten ook aanbevelingen voor nieuwe producten die
  andere gebruikers met hetzelfde aankoop patroon goed gereviewd hebben. Daarnaast kan een gebruiker zijn bestelde
  orders inzien met een overzicht van totale uitgaven en een percentage btw hiervan.</p>
<hr>
<img src="../../../assets/image/ERD.jpeg" alt="Erd image" class="img-fluid img-responsive">
<hr>
<h2>Use cases</h2>
<ol>
  <li>Een user kan inloggen en registreren</li>
  <li>Een ingelogde user kan producten bestellen.</li>
  <li>Een ingelogde user kan een review op een product achterlaten</li>
  <li>Een user krijgt aanbevolen producten op basis van andere gebruikers die hetzelfde producten goed gereviewd hebben.</li>
  <li>Een product heeft een fabrikant</li>
  <li>Een ingelogde user kan zijn totale uitgave zien</li>
  <li>Een ingelogde user totale btw van de gekochte producten zien</li>
  <li>Een ingelogde user kan een overzicht van zijn reviews zien</li>
</ol>
