<div class="row">
  <div class="col-lg col-md-6 col-sm-6" *ngFor="let product of Products">
    <div class="card rounded-0 my-2">
      <img src="{{product.image}}" class="card-img-top rounded-0 img-responsive" alt="...">
      <div class="card-body">
        <div class="d-flex flex-row">
          <h5 class="card-title me-auto">{{product.name}}</h5>
          <h5 class="card-title ms-auto">€ {{product.price}}</h5>
        </div>
        <p class="card-text">{{product.description}}</p>
        <p class="card-text">Size: {{product.size}}</p>
        <p class="card-text">
          <ngb-rating class="stars" [rate]="avgRating(product.reviews)" [max]="5" [readonly]="true"></ngb-rating>
          <br>
          Rating: {{avgRating(product.reviews) | number:'1.1-1'}} ({{product.reviews.length}})
        </p>
        <div class="d-flex flex-row">
          <products-details productId="{{product.id}}" class="me-auto"></products-details>
          <products-update productId="{{product.id}}" class="mx-auto"></products-update>
          <a class="btn btn-danger ms-auto px-3" (click)="OnDelete(product.id)">Delete</a>
        </div>
      </div>
    </div>
  </div>
</div>
