<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Add new product!</h4>
    <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss()"></button>
  </div>
  <form #form="ngForm" name="form" (ngSubmit)="OnSubmit()" novalidate>

    <div class="modal-body">
      <div class="mb-3">
        <label for="name" class="form-label">Manufacturer Name</label>
        <input
          type="text"
          class="form-control"
          id="name"
          [(ngModel)]="manufacturer.name"
          [ngClass]="{'is-invalid': name.invalid && name.touched}"
          #name="ngModel"
          placeholder="Name of the manufacturer"
          name="name"
          required>
        <div *ngIf="name.invalid && (name.dirty || name.touched)" class="alert alert-danger mt-1 py-1">
          <div *ngIf="name.errors!['required']">
            Name is required.
          </div>
        </div>
      </div>
      <div class="mb-3">
        <label for="city" class="form-label">Manufacturer City</label>
        <input
          type="text"
          class="form-control"
          id="city"
          [(ngModel)]="manufacturer.city"
          [ngClass]="{'is-invalid': city.invalid && city.touched}"
          #city="ngModel"
          placeholder="City of the manufacturer"
          name="city"
          required>
        <div *ngIf="city.invalid && (city.dirty || city.touched)" class="alert alert-danger mt-1 py-1">
          <div *ngIf="city.errors!['required']">
            City is required.
          </div>
        </div>
      </div>
      <div class="mb-3">
        <label for="country" class="form-label">Manufacturer Country</label>
        <input
          type="text"
          class="form-control"
          id="country"
          [(ngModel)]="manufacturer.country"
          [ngClass]="{'is-invalid': country.invalid && country.touched}"
          #country="ngModel"
          placeholder="Country of the manufacturer"
          name="country"
          required>
        <div *ngIf="country.invalid && (country.dirty || country.touched)" class="alert alert-danger mt-1 py-1">
          <div *ngIf="country.errors!['required']">
            Country is required.
          </div>
        </div>
      </div>
      <div class="mb-3">
        <label for="email" class="form-label">Manufacturer Email</label>
        <input
          type="text"
          class="form-control"
          id="email"
          [(ngModel)]="manufacturer.email"
          [ngClass]="{'is-invalid': email.invalid && email.touched}"
          #email="ngModel"
          placeholder="Email of the manufacturer"
          name="email"
          required>
        <div *ngIf="email.invalid && (email.dirty || email.touched)" class="alert alert-danger mt-1 py-1">
          <div *ngIf="email.errors!['required']">
            Email is required.
          </div>
        </div>
      </div>
      <div class="mb-3">
        <label for="phone" class="form-label">Manufacturer Phone</label>
        <input
          type="text"
          class="form-control"
          id="phone"
          [(ngModel)]="manufacturer.phone"
          [ngClass]="{'is-invalid': phone.invalid && phone.touched}"
          #phone="ngModel"
          placeholder="Phone of the manufacturer"
          name="phone"
          required>
        <div *ngIf="phone.invalid && (phone.dirty || phone.touched)" class="alert alert-danger mt-1 py-1">
          <div *ngIf="phone.errors!['required']">
            Phone is required.
          </div>
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-secondary px-5" (click)="modal.dismiss()">Cancel</button>
      <button type="submit" class="btn btn-success px-5" [disabled]="!form.valid">Save</button>
    </div>
  </form>
</ng-template>

<a class="px-1 clickable" (click)="ngOnModalOpen(content)">
  <svg class="icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
    <path
      d="M373.1 24.97C401.2-3.147 446.8-3.147 474.9 24.97L487 37.09C515.1 65.21 515.1 110.8 487 138.9L289.8 336.2C281.1 344.8 270.4 351.1 258.6 354.5L158.6 383.1C150.2 385.5 141.2 383.1 135 376.1C128.9 370.8 126.5 361.8 128.9 353.4L157.5 253.4C160.9 241.6 167.2 230.9 175.8 222.2L373.1 24.97zM440.1 58.91C431.6 49.54 416.4 49.54 407 58.91L377.9 88L424 134.1L453.1 104.1C462.5 95.6 462.5 80.4 453.1 71.03L440.1 58.91zM203.7 266.6L186.9 325.1L245.4 308.3C249.4 307.2 252.9 305.1 255.8 302.2L390.1 168L344 121.9L209.8 256.2C206.9 259.1 204.8 262.6 203.7 266.6zM200 64C213.3 64 224 74.75 224 88C224 101.3 213.3 112 200 112H88C65.91 112 48 129.9 48 152V424C48 446.1 65.91 464 88 464H360C382.1 464 400 446.1 400 424V312C400 298.7 410.7 288 424 288C437.3 288 448 298.7 448 312V424C448 472.6 408.6 512 360 512H88C39.4 512 0 472.6 0 424V152C0 103.4 39.4 64 88 64H200z"/>
  </svg>
</a>
