<div class="card rounded-0">
  <div class="card-header d-flex flex-row">
    <h4 class="modal-title my-auto" id="modal-basic-title">Edit manufacturer!</h4>
    <button type="button" class="btn-close ms-auto my-auto" aria-label="Close" (click)="ngOnClose()"></button>
  </div>
  <form #form="ngForm" name="form" (ngSubmit)="OnSubmit()" novalidate>

    <div *ngIf="manufacturer" class="card-body">
      <div class="mb-3">
        <label for="name" class="form-label">Manufacturer Name</label>
        <input
          type="text"
          class="form-control"
          id="name"
          [(ngModel)]="manufacturer.name"
          [ngClass]="{'is-invalid': name.invalid && name.touched}"
          #name="ngModel"
          placeholder="Name of the manufacturer"
          name="name"
          required>
        <div *ngIf="name.invalid && (name.dirty || name.touched)" class="alert alert-danger mt-1 py-1">
          <div *ngIf="name.errors!['required']">
            Name is required.
          </div>
        </div>
      </div>
      <div class="mb-3">
        <label for="city" class="form-label">Manufacturer City</label>
        <input
          type="text"
          class="form-control"
          id="city"
          [(ngModel)]="manufacturer.city"
          [ngClass]="{'is-invalid': city.invalid && city.touched}"
          #city="ngModel"
          placeholder="City of the manufacturer"
          name="city"
          required>
        <div *ngIf="city.invalid && (city.dirty || city.touched)" class="alert alert-danger mt-1 py-1">
          <div *ngIf="city.errors!['required']">
            City is required.
          </div>
        </div>
      </div>
      <div class="mb-3">
        <label for="country" class="form-label">Manufacturer Country</label>
        <input
          type="text"
          class="form-control"
          id="country"
          [(ngModel)]="manufacturer.country"
          [ngClass]="{'is-invalid': country.invalid && country.touched}"
          #country="ngModel"
          placeholder="Country of the manufacturer"
          name="country"
          required>
        <div *ngIf="country.invalid && (country.dirty || country.touched)" class="alert alert-danger mt-1 py-1">
          <div *ngIf="country.errors!['required']">
            Country is required.
          </div>
        </div>
      </div>
      <div class="mb-3">
        <label for="email" class="form-label">Manufacturer Email</label>
        <input
          type="text"
          class="form-control"
          id="email"
          [(ngModel)]="manufacturer.email"
          [ngClass]="{'is-invalid': email.invalid && email.touched}"
          #email="ngModel"
          placeholder="Email of the manufacturer"
          name="email"
          required>
        <div *ngIf="email.invalid && (email.dirty || email.touched)" class="alert alert-danger mt-1 py-1">
          <div *ngIf="email.errors!['required']">
            Email is required.
          </div>
        </div>
      </div>
      <div class="mb-3">
        <label for="phone" class="form-label">Manufacturer Phone</label>
        <input
          type="text"
          class="form-control"
          id="phone"
          [(ngModel)]="manufacturer.phone"
          [ngClass]="{'is-invalid': phone.invalid && phone.touched}"
          #phone="ngModel"
          placeholder="Phone of the manufacturer"
          name="phone"
          required>
        <div *ngIf="phone.invalid && (phone.dirty || phone.touched)" class="alert alert-danger mt-1 py-1">
          <div *ngIf="phone.errors!['required']">
            Phone is required.
          </div>
        </div>
      </div>
    </div>
    <div class="card-footer d-flex flex-row">
      <button type="button" class="btn btn-secondary px-5 rounded-0 ms-auto mx-1" (click)="ngOnClose()">Cancel</button>
      <button type="submit" class="btn btn-success px-5 rounded-0 ms-2" [disabled]="!form.valid">Save</button>
    </div>
  </form>
</div>
